@charset "utf-8";
/* Reset CSS */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default margin */
header,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: sans-serif;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: #00815d;
}

a:hover {
  text-decoration: underline;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

h1 {
  display: none;
}

/* PC View */
/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
}

header .logo-wrapper {
  margin-top: 18px;
  margin-left: 85px;
  width: 220px;
}

header .logo-wrapper img {
  width: 100%;
}

header .pc-top-list,
header .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 110px;
}

header .header-list li {
  margin: 0 10px;
  color: #00815d;
}

header .header-list li a {
  color: #00815d;
}

header .header-list li i {
  font-size: 1.5rem;
}

/* nav */
#spnav {
  display: none;
}

nav {
  background-color: #333333;
}

nav .pc-top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
}

nav .pc-top-list li {
  padding: 10px 0;
  width: 160px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  text-align: center;
}

nav .pc-top-list li .hover-content {
  display: none;
}

nav .pc-top-list li:hover {
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid 00815d;
}

nav .pc-top-list li:hover .content {
  display: none;
}

nav .pc-top-list li:hover .hover-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav .pc-top-list li:hover .hover-content .logo {
  width: 30px;
}

nav .pc-top-list > li:nth-child(n + 2):before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 60%;
  background-color: #999999;
}

.about {
  position: relative;
}

.hover-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 220px;
  background-color: #ffffff;
  padding: 0;
  font-size: 14px;
  color: #00815d;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 3;
}

.hover-menu.hovered {
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

nav .pc-top-list li .hover-menu li {
  border-bottom: solid #000000 1px;
  color: #00815d;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  text-align: left;
  padding-left: 15px;
  font-size: 14px;
}

.hover-menu li a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

nav .pc-top-list li.hovered {
  background-color: #ffffff;
  color: 00815d;
}

nav .pc-top-list .hover-menu > li:hover {
  background-color: #00815d;
  color: #ffffff;
}

/* top */
.top {
  margin: 10px auto;
  max-width: 1140px;
}

.top-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .top-upper-left {
  width: 60%;
  position: relative;
}

.top .top-upper-left .top-left-message {
  position: absolute;
  color: #ffffff;
  width: 100%;
  z-index: 2;
  top: 45px;
}

.top .top-upper-left .top-left-message h2 {
  font-weight: lighter;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.38em;
  text-shadow: 2px 2px 10px #31a8f1, -2px 2px 10px #31a8f1,
    2px -2px 10px #31a8f1, -2px -2px 10px #31a8f1;
}

.top .top-upper-left .carousel ul {
  padding-left: 0;
}

.top .top-upper-left img {
  width: 100%;
}

.top .top-upper-right {
  width: 40%;
}

.top .top-upper-right .top-upper-right-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon {
  width: 50%;
}

.icon img {
  width: 100%;
  padding: 10px;
}

.top .top-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sp-top-row {
  display: none;
}

/* news */
.news {
  background-image: url("/test01/img/wood-texture_00200.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  overflow: hidden;
}

.news .news-wrapper {
  margin: 0 auto;
  max-width: 1140px;
}

.news .news-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: 2%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.news .news-head .news-head-title {
  height: 150px;
}

.news .news-head .news-head-chara {
  height: 70px;
}

.news h2 {
  color: #ffffff;
  margin-left: 5%;
  margin-right: 5%;
}

.news .news-board .news-info-and-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  position: absolute;
  top: -40px;
  z-index: 1;
}

.news .news-title-jp {
  height: 30px;
  margin-left: 5%;
}

.news .news-board .news-info-and-category .category {
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .news-board .news-info-and-category .category .tag {
  display: inline-block;
  font-weight: bold;
  margin: 15px 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.news .news-board .news-info-and-category .category .tag.selected {
  margin-top: 0;
}

.news .news-board .news-info-and-category .category .tag input {
  display: none;
}

.news .news-board .news-info-and-category .category .tag label {
  cursor: pointer;
  padding: 10px 20px 20px;
  font-weight: normal;
}

.news .news-board .news-info-and-category .category .tag label.tag1 {
  background-color: #ffdbbd;
}

.news .news-board .news-info-and-category .category .tag label.tag2 {
  background-color: #ffd2fc;
}

.news .news-board .news-info-and-category .category .tag label.tag3 {
  background-color: #c6f6d2;
}

.news .news-board .news-info-and-category .category .tag label.tag4 {
  background-color: #e1dffe;
}

.news .news-board .news-info-and-category .category .tag label.tag5 {
  background-color: #fff2b3;
}

.news .news-board {
  position: relative;
  margin-top: 10px;
}

.news .news-board .news-contents,
.news .news-board .news-contents-back {
  width: 90%;
  background-image: url(/test01/img/canvas.png);
  background-size: cover;
  height: 800px;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.news .news-board .news-contents {
  margin-left: 5%;
  margin-right: 5%;
  padding: 30px 0;
  position: relative;
  z-index: 1;
  display: none;
}

.news .news-board .news-contents.selected {
  display: block;
}

.news .news-board .news-contents .news-contents-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 50px 5%;
  position: relative;
  z-index: 2;
}

.news .news-board .news-contents .news-contents-row .news-card {
  width: 30%;
  margin: 0 20px;
  position: relative;
  z-index: 2;
}

.news .news-board .news-contents .news-contents-row .news-card span {
  color: #00815d;
  font-size: 14px;
  padding: 5px 0;
}

.news .news-board .news-contents .sp-news-contents-row {
  display: none;
}

.news .news-board .news-contents .button-wrapper {
  text-align: right;
  padding-right: 3%;
  position: relative;
  z-index: 2;
}

.news .news-board .news-contents .button-wrapper a {
  border: solid #00815d thin;
  color: #00815d;
  padding: 10px 30px;
}

.news .news-board .news-contents-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-3deg);
  -webkit-transform: translate(-50%, -50%) rotate(-3deg);
  -ms-transform: translate(-50%, -50%) rotate(-3deg);
  z-index: 0;
}

/* calender */
.calender {
  margin: 80px auto;
  max-width: 1140px;
}

.calender h2 {
  color: #745c3d;
  font-weight: normal;
}

.calender .calender-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.calender .calender-head > :first-child {
  margin-right: auto;
}

.calender .calender-head .calender-head-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.calender .calender-head .calender-head-products img {
  height: 100px;
  margin: 10px;
}

.calender .calender-head .calender-head-chara {
  height: 130px;
}

.calender .calender-content .calender-left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  overflow: hidden;
}

.calender .calender-content .calender-left-top .calender-left-title-jp {
  width: 200px;
  margin-bottom: 30px;
}

.calender .calender-content .calender-left-top .calender-left-title-jp-com {
  width: 76px;
  margin: auto 25px;
}

.calender .calender-content .calender-left-top .calender-left-title {
  height: 100px;
}

.calender .calender-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calender .calender-content .calender-left {
  width: 60%;
  padding: 0 2%;
}

.calender .calender-content .calender-left .g-cal,
.calender .calender-content .calender-right .sns {
  display: block;
  width: 100%;
}

.calender .calender-content .calender-right .head {
  height: 80px;
}

.calender .calender-content .calender-left .communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.calender .calender-content .calender-left .communication a {
  display: block;
  width: 23%;
  margin: 1%;
}

.calender .calender-content .calender-right {
  width: 40%;
  padding: 0 2%;
}

.fb-container * {
  width: 100%;
}

.sp-fb-container {
  display: none;
}

.calender .calender-content .calender-right .youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.calender .calender-content .calender-right .youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* links */
.links {
  background-image: url("/test01/img/wood-texture_00200.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.links .sp-chara {
  display: none;
}

.links .links-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.links .col-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links .links-col {
  margin-right: 25px;
  max-width: 170px;
  position: relative;
}

.links .links-col h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.links .links-col a {
  color: #ffffff;
  display: block;
  font-size: 14px;
  line-height: 26px;
}

.links .links-col .chara {
  display: block;
  position: absolute;
  font-weight: bold;
  right: -10%;
  top: -30%;
  color: #40342f;
  font-size: 12px;
}

.links .links-col .chara img {
  height: 70px;
  margin: 0 auto;
}

/* footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px auto;
  max-width: 1140px;
}

.footer-left .address {
  margin-top: 20px;
  font-size: 14px;
  position: relative;
}

.footer-left .address .chara {
  position: absolute;
  width: 110px;
  bottom: 0;
  left: 120%;
}

footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

footer .footer-right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

footer .footer-right .footer-links,
footer .footer-right .footer-external-links {
  margin: 0 2%;
}

footer .footer-right .footer-links a,
footer .footer-right .footer-external-links a {
  display: block;
}

footer .footer-right .footer-links a {
  color: #898989;
  font-size: 14px;
  line-height: 25px;
  white-space: nowrap;
}

footer .footer-right .footer-external-links a {
  width: 200px;
  color: #333333;
  font-size: 14px;
  line-height: 25px;
}

.copyright {
  background-color: #40342f;
}

.copyright p {
  color: #ffffff;
  padding: 20px 100px;
  font-size: 14px;
  text-align: right;
  max-width: 1140px;
  margin: 0 auto;
}

/* 下層ページ */
/* underlayer-top */
.underlayer-top {
  background-image: url("/test01/img/wood-texture_00200.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 160px;
}

.underlayer-top .underlayer-top-wrapper {
  margin: 0 auto;
  max-width: 1140px;
}

.underlayer-top .location {
  margin-left: 55px;
  margin-top: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.underlayer-top .underlayer-top-title {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.underlayer-top .underlayer-top-wrapper a,
.underlayer-top .underlayer-top-wrapper span {
  font-variant-east-asian: 16px;
  color: #ffffff;
  text-align: center;
  margin: 0 5px;
  font-weight: lighter;
}

.underlayer-top-title img {
  height: 50px;
}

.underlayer-top-title h2 {
  color: #ffffff;
  font-size: 40px;
  margin-left: 50px;
}

/* under-layer-title */
.under-layer-title {
  background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(255, 255, 255, 0.9)),
        to(rgba(255, 255, 255, 0))
      )
      fixed,
    url(/test01/img/under-layer-title.png);
  background: -o-linear-gradient(
        left,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0)
      )
      fixed,
    url(/test01/img/under-layer-title.png);
  background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0)
      )
      fixed,
    url(/test01/img/under-layer-title.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  height: 185px;
  z-index: -1;
  margin: 0 auto;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.under-layer-title h2 {
  font-size: 36px;
  margin: auto 70px;
  position: relative;
  z-index: 1;
}

/* under-layer-description */
.under-layer-description {
  margin: 0 auto;
  max-width: 1140px;
}

.under-layer-description p {
  margin: 20px 5%;
}

.under-layer-description .under-layer-description-link-wrapper {
  color: #00815d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
  max-width: 940px;
}

.under-layer-description.under-layer-description-link-wrapper {
  margin: 0 auto;
  max-width: 1140px;
}

.under-layer-description .under-layer-description-link-wrapper .link-button {
  border: solid #00815d thin;
  margin: 10px 12px;
  width: 210px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.under-layer-description
  .under-layer-description-link-wrapper
  .link-button
  span::after {
  content: "\00a0\00a0\03e";
}

.under-layer-description
  .under-layer-description-link-container
  .under-layer-description-link-flex-wrapper
  .link-button
  a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* under-layer-content */
.under-layer-content h3 {
  margin: 80px auto 40px;
  border-left: #82bc9d solid 10px;
  border-bottom: #82bc9d solid 2px;
  color: #00815d;
  font-size: 30px;
  font-weight: normal;
  padding: 15px;
  width: 95%;
  max-width: 1140px;
}

.under-layer-content .wrapper {
  margin: 0 auto;
  max-width: 1140px;
}

.under-layer-content .under-layer-content-description {
  line-height: 28px;
  margin: 0 5%;
}

.under-layer-content .under-layer-content-details {
  margin: 40px 5%;
}

.under-layer-content .under-layer-content-details h4 {
  background-color: #00815d;
  color: #ffffff;
  padding: 5px 2%;
  font-weight: normal;
  border-radius: 20px;
  font-size: 21px;
  margin-top: 50px;
}

.under-layer-content-details .under-layer-content-details-top,
.under-layer-content-details .under-layer-content-details-description,
.under-layer-content-details .under-layer-content-details-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.under-layer-content-details-description p {
  padding-top: 40px;
}

.under-layer-content-details .under-layer-content-details-top p,
.under-layer-content-details .under-layer-content-details-top img {
  margin: 0 1%;
}

.under-layer-content-details .under-layer-content-details-top p {
  width: 38%;
  line-height: 28px;
}

.under-layer-content-details .under-layer-content-details-top img {
  width: 58%;
}

.under-layer-content-details .under-layer-content-details-products {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.under-layer-content-details
  .under-layer-content-details-products
  .under-layer-content-details-card {
  width: 270px;
  margin: 25px 30px;
  position: relative;
}

.under-layer-content-details
  .under-layer-content-details-products
  .under-layer-content-details-card
  a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.under-layer-content-details
  .under-layer-content-details-products
  .under-layer-content-details-card
  .under-layer-content-details-card-img-wrapper {
  background-color: #ededed;
  padding: 0 15px;
}

.under-layer-content-details
  .under-layer-content-details-products
  .under-layer-content-details-card
  h5 {
  font-size: 18px;
  font-weight: normal;
  margin: 15px 0;
}

.under-layer-content-details
  .under-layer-content-details-products
  .under-layer-content-details-card
  p {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.layouts-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.single-left-button,
.single-left-external-link {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 140px;
  width: 250px;
  height: 42px;
  border: solid 1px #00815d;
  position: relative;
}

.single-center-button,
.single-center-external-link {
  width: 250px;
  height: 42px;
  border: solid 1px #00815d;
  position: relative;
  margin: 30px auto;
}

.single-left-button span,
.single-center-button span,
.single-left-external-link span,
.single-center-external-link span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 14px;
}

.single-left-button a,
.single-center-button a .single-left-external-link a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.single-left-button a::after,
.single-center-button a::after {
  position: absolute;
  right: 23px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "\00a0\00a0\03e";
}

.single-left-external-link i,
.single-center-external-link i {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.two-column-text {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.two-column-text .two-column-text-content {
  width: 400px;
  margin: 0 30px;
}

.three-column-text {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.three-column-text .three-column-text-content {
  width: 260px;
  margin: 0 20px;
}

.one-image,
.tow-images,
.three-images {
  max-width: 1140px;
  margin: 30px auto;
}

.one-image .layout-img-wrapper {
  margin: auto;
  width: 100%;
  max-width: 860px;
}

.tow-images,
.three-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tow-images .layout-img-wrapper {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 30px;
}

.three-images .layout-img-wrapper {
  width: 100%;
  max-width: 260px;
  height: auto;
  margin: 0 20px;
}

.img-text,
.text-img {
  max-width: 1140px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.img-text .layout-img-wrapper,
.img-text p,
.text-img .layout-img-wrapper,
.text-img p {
  width: 400px;
  height: auto;
  margin: 0 30px;
}

.table-wrapper {
  max-width: 1140px;
  margin: 30px auto;
}

table {
  margin-left: 140px;
}

table,
tr {
  border-top: 1px solid #00815d;
  border-bottom: 1px solid #00815d;
  border-collapse: collapse;
}

tr {
  height: 52px;
}

th {
  background-color: #cae5d5;
  font-weight: normal;
  -moz-text-align-last: left;
  text-align-last: left;
  padding-left: 33px;
  padding-right: 33px;
}

td {
  padding-left: 33px;
  padding-right: 33px;
}

.both-border {
  border-left: 1px solid #00815d;
  border-right: 1px solid #00815d;
}

.td-i {
  color: #00815d;
  text-align: center;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
  header ul .header-text-link {
    display: none;
  }

  header .logo-wrapper {
    margin-top: 0;
    margin-left: 20px;
    width: 300px;
  }

  header .pc-top-list,
  header .header-list {
    margin-right: 5px;
  }

  #pcnav {
    display: none;
  }

  header .header-list li {
    margin: 0 5px;
  }

  header .header-list li i {
    font-size: 1.2rem;
  }

  #spnav {
    display: block;
    padding: 0 5px;
  }

  /* ハンバーガーメニュー */
  /* チェックボックスは非表示に */
  .drawer-hidden {
    display: none;
  }

  /* ハンバーガーアイコンの設置スペース */
  .drawer-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    width: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 100; /* 重なり順を一番上に */
    cursor: pointer;
  }

  /* ハンバーガーメニューのアイコン */
  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #000000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
  }

  /* 三本線のうち一番上の棒の位置調整 */
  .drawer-open span:before {
    bottom: 8px;
  }

  /* 三本線のうち一番下の棒の位置調整 */
  .drawer-open span:after {
    top: 8px;
  }

  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #333333;
  }

  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #333333;
  }

  /* メニューのデザイン*/
  .drawer-content {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 100%;
    z-index: 99;
    background: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .drawer-content .drawer-list {
    margin: 0;
    padding: 0;
  }

  .drawer-content .drawer-list .sp-li-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0;
  }

  .drawer-content .drawer-list .sp-li-row li {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    line-height: 28px;
  }

  .drawer-content .drawer-list .sp-li-row li .hover-content {
    display: none;
  }

  .drawer-content .drawer-list .sp-li-row li .sp-hover-menu {
    margin: 10px 0;
    padding: 0;
    font-size: 1rem;
  }

  .drawer-content .drawer-list .sp-li-row li .sp-hover-menu li a {
    white-space: nowrap;
  }

  /* アイコンがクリックされたらメニューを表示 */
  #drawer-check:checked ~ .drawer-content {
    left: 0;
  }

  /* top */
  .top {
    margin: 0;
  }

  .top-upper {
    display: block;
  }

  .top .top-upper-left .top-left-message h2 {
    font-size: 1rem;
  }

  .top-upper .top-upper-left {
    width: 100%;
  }

  .top-upper .top-upper-right {
    display: none;
  }
  .top-lower-wapper {
    display: none;
  }

  .sp-top-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .news .news-board {
    margin-top: 10px;
  }

  .calender .calender-head .calender-head-chara {
    height: 80px;
    margin-left: 5%;
  }

  .news .news-title-jp {
    margin-bottom: 30px;
    height: 25px;
  }

  .news .news-board .news-info-and-category {
    z-index: 2;
    margin-top: 30px;
  }

  .news .news-board .news-info-and-category .category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .news .news-board .news-info-and-category .category .tag {
    font-weight: normal;
    font-size: 0.9rem;
    display: block;
    margin: 10px 0px;
  }

  .news .news-board .news-info-and-category .category .tag label {
    white-space: nowrap;
    padding: 10px 10px 30px;
    position: relative;
    z-index: 2;
  }

  .news .news-board .news-contents {
    padding-top: 100px;
    height: auto;
    padding-bottom: 10px;
  }

  .news .news-board .news-contents .news-contents-row {
    display: none;
  }

  .news .news-board .news-contents .sp-news-contents-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }

  .news .news-board .news-contents .sp-news-contents-row .news-card {
    width: 130px;
    margin: 0 10px;
    z-index: 2;
  }

  .news .news-board .news-contents .sp-news-contents-row .news-card span {
    color: #00815d;
    font-size: 12px;
    margin: 10px 0 5px;
  }

  .news .news-board .news-contents .sp-news-contents-row .news-card p {
    font-size: 14px;
  }

  .news .news-board .news-contents .button-wrapper {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .news .news-board .news-contents-back {
    display: none;
  }

  /* calender */
  .calender {
    margin: 20px 0;
  }

  .calender .calender-head {
    display: block;
  }

  .calender .calender-head .calender-head-products img {
    max-height: 55px;
  }

  .calender .calender-content {
    display: block;
  }

  .calender .calender-content .calender-left,
  .calender .calender-content .calender-right {
    width: 100%;
    padding: 0;
  }

  .calender .calender-content .calender-left .calender-left-top {
    margin: 20px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .calender .calender-content .calender-left .calender-left-top img {
    width: 50%;
    height: auto;
    margin: 0;
  }

  .calender
    .calender-content
    .calender-left
    .calender-left-top
    img.calender-left-title-jp-com {
    width: 35%;
  }

  .calender .calender-content .calender-right img.head {
    margin: 40px auto 0;
  }

  .fb-container {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    height: 240px;
  }

  .fb-container {
    display: none;
  }

  .sp-fb-container {
    display: block;
  }

  .fb-page {
    display: block !important;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
  }

  .calender .calender-content .calender-right img.instagram-img {
    margin: 0;
  }

  .calender .calender-content .calender-right .sns {
    display: block;
    width: 90%;
    margin: 0 5%;
  }

  /* links */
  .links {
    padding: 40px 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 80px;
  }

  .links .sp-chara {
    display: block;
    position: absolute;
    font-weight: bold;
    top: -5%;
    right: 0;
    color: #40342f;
    font-size: 12px;
  }

  .links .sp-chara img {
    height: 70px;
    margin: 0 auto;
  }

  .links .links-wrapper {
    margin: 0;
    padding: 0;
    display: block;
  }

  .links .links-col h2 {
    font-weight: bold;
  }

  .links .col-wrapper {
    margin: 10px auto;
  }

  .links .links-wrapper .chara {
    display: none;
  }

  .links .links-col {
    margin: 5px 10px;
    width: 48%;
  }

  /* footer */
  footer {
    display: block;
    padding: 20px 20px 0;
  }

  .footer-left .address .chara {
    width: 75px;
    left: auto;
    right: 0%;
  }

  footer .footer-right {
    margin: 40px 0;
    display: block;
  }

  footer .footer-right .footer-links,
  footer .footer-right .footer-external-links {
    margin-top: 10px;
  }

  footer .footer-right .footer-external-links a {
    width: 100%;
  }

  .copyright p {
    text-align: center;
    margin: auto 0;
    padding: 20px 0;
  }

  /* under-layer */
  /* top */
  .underlayer-top a,
  .underlayer-top span {
    font-size: 0.9rem;
  }

  .underlayer-top .location {
    margin-left: 20px;
  }

  .underlayer-top-wrapper img {
    width: 70px;
  }

  .underlayer-top-title h2 {
    margin-left: 30px;
  }

  /* title */
  .under-layer-title {
    margin: 0;
  }

  .under-layer-title h2 {
    margin: auto 30px;
  }

  .under-layer-content .under-layer-content-details h4 {
    padding: 5px 8%;
    font-weight: bold;
  }

  .under-layer-description p {
    margin: 20px 2%;
  }

  .under-layer-description .under-layer-description-link-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .under-layer-description .under-layer-description-link-wrapper span {
    font-weight: bold;
  }

  .under-layer-description
    .under-layer-description-link-container
    .under-layer-description-link-flex-wrapper
    .link-button {
    margin: 10px 1%;
  }

  .under-layer-content-details .under-layer-content-details-top,
  .under-layer-content-details .under-layer-content-details-description {
    display: block;
  }

  .under-layer-content-details .under-layer-content-details-top p,
  .under-layer-content-details .under-layer-content-details-top img {
    width: 100%;
    margin: 30px 0;
  }

  .under-layer-content-details
    .under-layer-content-details-products
    .under-layer-content-details-card {
    width: 45%;
    margin: 20px 2%;
  }

  .under-layer-content-details
    .under-layer-content-details-products
    .under-layer-content-details-card
    h5 {
    font-weight: bold;
  }

  .under-layer-content-details
    .under-layer-content-details-products
    .under-layer-content-details-card
    p {
    font-size: 0.9rem;
  }

  .layouts-wrapper {
    margin: 0 5%;
  }

  .single-left-button,
  .single-left-external-link,
  .single-center-button,
  .single-center-external-link {
    width: 200px;
  }

  .single-left-button,
  .single-left-external-link {
    margin-left: 10px;
  }

  .single-left-button a::after,
  .single-center-button a::after {
    position: absolute;
    right: 15px;
  }

  .single-left-external-link i,
  .single-center-external-link i {
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .two-column-text .two-column-text-content {
    width: 100%;
    margin: 0 1%;
  }

  .three-column-text .three-column-text-content {
    width: 100%;
    margin: 0 1.6%;
  }

  .tow-images,
  .three-images {
    display: block;
  }

  .tow-images .layout-img-wrapper {
    height: auto;
    max-width: 800px;
    margin: 20px 0;
  }

  .three-images .layout-img-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
  }

  .img-text,
  .text-img {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .img-text .layout-img-wrapper,
  .img-text p,
  .text-img .layout-img-wrapper,
  .text-img p {
    width: 100%;
    margin: 0;
  }

  .text-img p {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  table {
    margin-left: 0;
  }

  th {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    min-width: 39px;
  }

  td {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }
}
